
.body {
	margin: 10px;
}
#rng {
	margin-left: 10px;
	color:blue;
	font-size: 20px;
}

.accentDiv {
	display:inline-block;
	border-radius: 10px;
	background-color: gray;
	margin-bottom: 15px;
	padding:5px;
}

.accentInfo {
	color:white;
}

/*For the href in the button for the link. Must be white*/
.ref { 
	color:white;
}

.gameDiv {
	display:block;
	width: 100%; 
	height: 100%; 
	border: thin solid black; 

}

#incrementButton {
	position: absolute;
	z-index: 10;
	display: block;
	width:50px; 
	height:50px;
	transition: transform 0.5s linear;
}

#description {
	display:none;
	opacity: 0;
}